@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --gap: 3rem;
}


.logo-cursor {
  z-index: 1000; 
  transition: opacity 0.3s ease; 
  opacity: 0.8; 
}

.logo-cursor.transparent {
  opacity: 0.2; 
}

